@import url('clash-display.css');

@media (min-width: 992px){
    .pb-lg-6,
    .py-lg-6 {
      padding-bottom: 5rem !important;
    }
    .p-lg-6{
        padding: 5rem;
    }
}

@media (min-width: 1200px){
    .p-xl-6{
        padding:5rem;
    }
}


body {
    background-color: #EFEFEF;
}


#logo {
    font-family: ClashDisplay-Medium;
    font-size: 16px;
}

#custom-navbar {
    font-family: ClashDisplay-Regular;
    font-size: 16px;
}

#content-block {
    max-width: 1216px;
    max-height: 904px;
}

#main-content {
    font-family: ClashDisplay-Regular;
    font-size: 182px; 
    font-weight: 400;
    color: #000;
}

#sec-content {
    font-family: ClashDisplay-Medium;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

#statement-text{
    font-family: ClashDisplay-Regular;
    font-size: 44px;
    color: #000;
}

#social-links{
    font-family: ClashDisplay-Medium;
    font-size: 18px;
    color: #000;
    list-style: none;
}

#connect{
    color: #828282;
    font-family: ClashDisplay-Medium;
    font-size: 18px;
    border-bottom: 2px solid #828282;
    
}

#button{
    color: #FFF;
    background-color: #000;
    border-radius: 322px;
    padding: 10px 15px 10px 15px;
}

#help-text{
    color: #000;
    font-family: ClashDisplay-Medium;
    font-size: 44px;
}